@font-face {
	font-family: "Avenir";
    src: url("./fonts/Avenir.woff2") format("woff2"),
    url("./fonts/Avenir.woff") format("woff");
}

html, body {
	background: linear-gradient(0deg, #BAC8E0, #5975A8);
	height: 100%;
	margin: 0;
}

span {
	color: #E0015F;
}

/*————LOGO————*/

.navbar-container {
	position: relative;
	width: 100%;
	height: 30px;
	top: 20px;
	left: 0;
}

.logo {
	position: absolute;
	width: 140px;
	height: 25px;
	top: 0;
	left: 130px;
}

/*—–––PLAYER–———*/

.player-container {
	position: relative;
	height: 120px;
	width: 380px;
	top: 45px;
	left: 15px;
	border-radius: 20px;
	box-shadow: 0px 4px 7px #091526;
	background: #132c52;
}

/*————LIVE-SELECT————*/

.select-live-container {
	position: absolute;
	height: 90px;
	width: 200px;
	top: 15px;
	left: 15px;
	background: #0D2241;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.dropdown-button {
	position: absolute;
    background-color: #0D2241;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: inline-block;
    top: 25%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0D2241;
    top: 50px;
    width: 200px;
    height: 145px;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.show {
	display:block;
}

.live {
	position: absolute;
	width: 155px;
	height: 45px;
	top: 20px;
	left: 23px;
}

.old {
	position: absolute;
	width: 155px;
	height: 45px;
	top: 87px;
	left: 23px;
}

.top-hr {
	border: 0;
    height: 1px;
    background: #081324;
    position: absolute;
    top: 1px;
    width: 100%;
}

.middle-hr {
	border: 0;
    height: 1px;
    background: #081324;
    position: absolute;
    top: 68px;
    width: 100%;
}

/*———PLAYER-CONTROLS–––*/

.player-controls-container {
	position: absolute;
	height: 90px;
	width: 150px;
	top: 15px;
	right: 15px;
	background: #E0015F;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.play-button-container {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 23%;
	left: 50px;
}

#play-button {
	position: absolute;
	color: #FFF;
	font-size: 50px;
	aria-hidden: true;
}

.minus-volume-container {
	position: absolute;
	height: 30px;
	width: 30px;
	top: 30%;
	left: 5px;
	border: 4px solid #FFF;
	border-radius: 50%;
}

#minus-volume-button {
	position: absolute;
	top: 8px;
	left: 8px;
	color: #FFF;
	font-size: 15px;
	aria-hidden: true;
}

.plus-volume-container {
	position: absolute;
	height: 30px;
	width: 30px;
	top: 30%;
	right: 5px;
	border: 4px solid #FFF;
	border-radius: 50%;
}

#plus-volume-button {
	position: absolute;
	top: 8px;
	left: 5px;
	color: #FFF;
	font-size: 15px;
	aria-hidden: true;
}

/*————PLAY-NOW————*/

.playing-now-body-container {
	position: relative;
	height: 130px;
	width: 380px;
	top: 100px;
	left: 15px;
	box-shadow: 0px 4px 7px #091526;
	border-radius: 20px;
	background: #132c52;
}

.playing-now-text-container {
	position: absolute;
	height: 50px;
	width: 350px;
	top: 15px;
	left: 15px;
	background: #E0015F;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.playing-now-text {
	position: absolute;
	color: #FFF;
	font-weight: 500px;
	text-align: center;
	font-family: Avenir, sans-serif;
	aria-hidden: true;
	left: 37%;
}

.playing-now-container {
	position: absolute;
	height: 50px;
	width: 350px;
	bottom: 15px;
	left: 15px;
	background: #0D2241;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#playing-now {
	position: absolute;
	color: #FFF;
	text-align: center;
	font-family: Avenir, sans-serif;
	left: 15px;
}

/*————LINKS————*/

.links {
	position: relative;
	height: 50px;
	width: 200px;
	top: 320px;
	left: 123px;
}

.portfolio, .telegram, .github, .mail {
	color: #0D2241;
	font-size: 32px;
	aria-hidden: true;
}

/*––——COPYRIGHT————*/

.copyright-container {
	position: relative;
	height: 40px;
	width: 290px;
	top: 320px;
	left: 60px;
}

.copyright-text {
	color: #0D2241;
	font-weight: 500px;
	text-align: center;
	font-family: Avenir, sans-serif;
	aria-hidden: true;
}