@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir.woff2") format("woff2"),
  url("../fonts/Avenir.woff") format("woff");
}

.unselectable {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none;           
}

.intro {
  position: fixed;
  top: 13rem;
  left: 0;
  width: 100%;
  
  text-align: center;
}
	
.name {
  color: #F1F1F1;
	
  text-align: center;
  font-family: Avenir, sans-serif;
  font-weight: 900;
}
	
.skills {
  color: #F1F1F1;
  
  text-align: center;
  font-family: Avenir, sans-serif;
  font-weight: 25;
}

.navigation {
  position: fixed;
  left: 0;
  top: 21em;
  width: 100%;
  
  text-align: center;
}

.footer {
  position: fixed; 
  left: 0; 
  bottom: 0; 
  width: 100%; 
}
   
.copyright {
  color: #F1F1F1;
	
  text-align: center;
  font-family: Avenir, sans-serif;
  font-weight: 400;
}
	   